*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.container {
    margin: 0;
    width: auto;
    background-image: url("images/bg 1.jpg");
    background-size: 790px 697px;
    background-repeat: no-repeat;
    margin-left: 85px;
}
.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin: 0;
    text-align: center;
    color: #515076;
    padding-left: 217px;
    padding-right: 217px;
    padding-top: 220px;
    padding-bottom: 110px;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;

}





.card {
    background-color: #5150761A;
    padding: 25px;
}

.card__image {
    display: block;
    width: 290px;
    height: 245px;
}

.card__category {
    margin-top: 30px;
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #bcbcbc;
    text-transform: uppercase;
}

.card__name{
    font-style: 20px;
    line-height: 27px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 116px;
}

.products__item {
    width: 340px;
    height: 573px;
    box-shadow: 1px 2px 3px rgb(0, 0, 0,0.25);
}

.card__price{
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__compound{
    margin-left: -20px;
}
